
section:not(.page-header), .page-header > hgroup {
	@extend %container;
}

section:not(.page-header) {
	margin-bottom : 2rem;
	padding       : 2rem 0;
}

.page-header {
	background-color : ghostwhite;
	margin           : 0;
	padding          : 2rem 0;
	width            : 100%;
	hgroup {
		h1, h2, h3, h4, h5, h6, .lead {
			display     : block;
			line-height : 1;
			margin      : .5rem auto .5rem !important;
			width       : 100%;
		}
	}
}

nav {
	background-color : ghostwhite;
	margin           : 0;
	width            : 100%;
	ul {
		@extend %list-reset;
		margin : 0;
	}
	a, a:link, a:any-link {
		
		&[aria-current='page'] {
			pointer-events : none;
			
		}
	}
}

body > header:first-of-type {
	background-color : ghostwhite;
	margin           : 0;
	padding          : 0;
	width            : 100%;
}

nav {
	background-color : ghostwhite;
	margin           : 0;
	padding          : 0;
	width            : 100%;
}

body > footer:last-of-type {
	background-color : ghostwhite;
	margin           : 0;
	padding          : 2rem 0;
	text-align       : center;
	width            : 100%;
	p {
		color       : gray;
		font-size   : small;
		font-weight : 500;
		line-height : 1;
		margin      : 0 auto !important;
		text-align  : center;
	}
}
