//==============================================================================
// Variables
//==============================================================================

/* Fonts */
$system-fontstack : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif, 'Apple Color Emoji',
'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
/* $main-fontstack: "Inter UI","Inter",Inter,Inter UI; */
/* $font-family: $main-fontstack,$system-fontstack !default; */
$font-family      : $system-fontstack !default;

$primary-color    : #50f;
$secondary-color  : #292533;

$font-size        : 112.5%;
